{% extends 'layout_base.html' %}


{% block title%}
Lista
{% endblock%}

{% block main%}

<h3 style="margin-top:20px;">Clientes</h3>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <ul class="list-group" style="margin-top:20px; margin-bottom:20px;">
            {% for person in persons %}
            <li class="list-group-item"> {{person.first_name}} {{person.last_name}}
                <a href="{% url 'person_delete' person.id %}">
                    <img src="{% static 'img/trash.png'%}" style="float: right;" data-toggle="tooltip"
                         title="Excluir">
                </a>
                <a href="{% url 'person_update' person.id%}">
                    <img src="{% static 'img/edit.png'%}" style="float: right;" data-toggle="tooltip"
                         title="Editar">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3"></div>
</div>


{% endblock %}



