{% extends 'layout_base.html' %}

{% block title%}
Listagem
{% endblock%}

{% block main%}
<h2>
    {% if user.is_authenticated %}
    Usuário logado: {{ user.username }}
    <h3><a href="{% url 'logout' %}">Sair</a></h3>
    {% endif %}
</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for person in persons %}
    <tr>
        <td>
            {{person.first_name}} {{person.last_name}}
        </td>
        <td>
            <a href="{% url 'person_update' person.id%}" class="btn btn-warning">Atualizar</a>
            <a href="{% url 'person_delete' person.id %}" class="btn btn-danger">Excluir</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'person_new' %}" class="btn btn-primary">Novo Cliente</a>
<a href="{% url 'home' %}" class="btn btn-dark">Home</a>
{% endblock %}



